.App {
  text-align: center;
  background: #16ffbd;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1 {
  color: #f070a1;
}
h1 a{
  color: #c34271;
  text-decoration: none;
  text-align: center;
  font-family: cursive;
  font-size: 2em;
}
.posting {
  display: flex;
  flex-direction: row;
}
.post-box {
  border: 3px solid #eee;
  padding: 20px;
  margin: 30px;
}
.comment-list {
  list-style-type: none;
}

.comment-list li {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
